* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  font-family: 'Abel', sans-serif;
  font-size: 1.5em;
  padding: 0 0.5em;
}

body * {
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  width: 100%;
  text-align: center;
  padding-bottom: 0.25em;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
}

header div {
  width: 33%;
  text-align: center;
}


button:hover {
  color: red;
}

.visible-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.hidden-panel, .hidden-mask {
  display: none;
}

.visible-panel {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background-color: #fff;
  border: 1px solid black;
  padding: 1em;
  font-size: 0.9em;
}

.cell {
  display: inline-block;
  width: 25%;
  margin-top: 50px;
  text-align: center;
  font-size: 2em;
}

.set-slct-btn {
  font-size: 2em;
}

.button-container {
  text-align: center;
}

#set-selection {
  padding-top: 2em;
}

#set-name {
  padding: 0.5em 0 0.2em 0;
  text-align: center;
  font-weight: bold;
}

#set-slct-ctrls {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#set-icon {
  font-size: 2em;
}

#start-game-btn {
  font-size: 1em;
  margin: 0.5em auto;
}

#stars {
  font-size: 1.2em;
}
