/* Memory Game CSS - default for porttrait mobile displays and baseline for other displays */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  font: 1.5em "Abel", sans-serif;
  padding: 0 0.5em;
}

body * {
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  width: 100%;
  text-align: center;
  padding-bottom: 0.25em;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

header div {
  width: 33%;
  text-align: center;
}


button:hover {
  color: #f00;
}

.visible-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.hidden-panel,
.hidden-mask,
.hidden-section {
  display: none;
}

.visible-section {
  display: block;
  width: 100%;
}

.visible-panel {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background-color: #fff;
  border: 1px solid black;
  padding: 1em;
  font-size: 0.9em;
}

.cell {
  display: block;
  width: 25%;
  margin-top: 0.4em;
  text-align: center;
  font-size: 2.5em;
  cursor: pointer;
}

.selected-cell {
  color: #0cc;
}

.set-slct-btn {
  font-size: 2em;
}

.button-container,
.center {
  text-align: center;
}

.set-selection {
  padding-top: 2em;
}

.set-name {
  padding: 0.5em 0 0.2em 0;
  text-align: center;
  font-weight: bold;
}

.set-slct-ctrls {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.set-icon {
  font-size: 2em;
}

.start-game-btn {
  font-size: 1em;
  margin: 0.5em auto;
}

.stars {
  font-size: 1.2em;
}
